# Assignment 1 
### TarunSaiChowdary.Ponnam.BDAT1004PS2

## Introduction:
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials. Occupations  
- Import the necessary libraries.    
- Import the dataset from this address.    
- Assign it to a variable called users.     
- Discover what is the mean age per occupation.  
- Discover the Male ratio per occupation and sort it from the most to the least.  
- For each occupation, calculate the minimum and maximum ages.  
- For each combination of occupation and sex, calculate the mean age.  
- For each occupation present the percentage of women and men.

In [28]:
import numpy as np
import pandas as pd

users = pd.read_csv('users.txt', delimiter = "|")
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [9]:
# Discover what is the mean age per occupation.  
mean = users.groupby('occupation')['age'].mean()
print(mean)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [84]:
# Discover the Male ratio per occupation and sort it from the most to the least

# Group by occupation
male = users[users['gender']=='M'].groupby('occupation').agg({"gender": np.size}).reset_index()
male.columns = ['occupation', 'maleCount']
female = users[users['gender']=='F'].groupby('occupation').agg({"gender": np.size}).reset_index()
female.columns = ['occupation', 'femaleCount']

#joining based on occupation
combinedGrouping = pd.merge(male, female, on="occupation", how = "outer")
combinedGrouping = combinedGrouping.fillna(0)
combinedGrouping['ratio'] = combinedGrouping['maleCount']/combinedGrouping['maleCount'] + combinedGrouping['femaleCount']
combinedGrouping = combinedGrouping.sort_values(by=["ratio"], ascending=False)
combinedGrouping

       occupation  maleCount  femaleCount  ratio
18        student        136         60.0   61.0
0   administrator         43         36.0   37.0
13          other         69         36.0   37.0
10      librarian         22         29.0   30.0
3        educator         69         26.0   27.0
20         writer         26         19.0   20.0
1          artist         15         13.0   14.0
7      healthcare          5         11.0   12.0
11      marketing         16         10.0   11.0
14     programmer         60          6.0    7.0
8       homemaker          1          6.0    7.0
12           none          5          4.0    5.0
6       executive         29          3.0    4.0
16       salesman          9          3.0    4.0
17      scientist         28          3.0    4.0
5   entertainment         16          2.0    3.0
9          lawyer         10          2.0    3.0
4        engineer         65          2.0    3.0
15        retired         13          1.0    2.0
19     technician         26          1.0    2.0
2          doctor          7          0.0    1.0

In [47]:
# For each occupation, calculate the minimum and maximum ages

ageGrouping = users.groupby('occupation').agg({"age": [('MinimumAge',np.min), ('MaximumAge',np.max)]}).reset_index()
ageGrouping.columns = ['Occupation', 'MinimumAge', 'MaximumAge']
       
ageGrouping

       Occupation  MinimumAge  MaximumAge
0   administrator          21          70
1          artist          19          48
2          doctor          28          64
3        educator          23          63
4        engineer          22          70
5   entertainment          15          50
6       executive          22          69
7      healthcare          22          62
8       homemaker          20          50
9          lawyer          21          53
10      librarian          23          69
11      marketing          24          55
12           none          11          55
13          other          13          64
14     programmer          20          63
15        retired          51          73
16       salesman          18          66
17      scientist          23          55
18        student           7          42
19     technician          21          55
20         writer          18          60

In [51]:
# For each combination of occupation and sex, calculate the mean age.  

ageSexGrouping = users.groupby(['occupation', 'gender'])['user_id'].count().reset_index()
ageSexGrouping.columns = ['Occupation', 'Gender', 'Mean']
ageSexGrouping

       Occupation Gender       Mean
0   administrator      F  40.638889
1   administrator      M  37.162791
2          artist      F  30.307692
3          artist      M  32.333333
4          doctor      M  43.571429
5        educator      F  39.115385
6        educator      M  43.101449
7        engineer      F  29.500000
8        engineer      M  36.600000
9   entertainment      F  31.000000
10  entertainment      M  29.000000
11      executive      F  44.000000
12      executive      M  38.172414
13     healthcare      F  39.818182
14     healthcare      M  45.400000
15      homemaker      F  34.166667
16      homemaker      M  23.000000
17         lawyer      F  39.500000
18         lawyer      M  36.200000
19      librarian      F  40.000000
20      librarian      M  40.000000
21      marketing      F  37.200000
22      marketing      M  37.875000
23           none      F  36.500000
24           none      M  18.600000
25          other      F  35.472222
26          other      M  34.028986
27     programmer      F  32.166667
28     programmer      M  33.216667
29        retired      F  70.000000
30        retired      M  62.538462
31       salesman      F  27.000000
32       salesman      M  38.555556
33      scientist      F  28.333333
34      scientist      M  36.321429
35        student      F  20.750000
36        student      M  22.669118
37     technician      F  38.000000
38     technician      M  32.961538
39         writer      F  37.631579
40         writer      M  35.346154

In [65]:
# For each occupation present the percentage of women and men. 

def percentage(var, sum):
   per = (var/sum) * 100
   per = round(per,2)
   return per

GenOccPercentage = (users.groupby(['occupation', 'gender'])['user_id'].sum()
   .groupby(level = 0).transform(lambda x: percentage(x,x.sum())).reset_index(name='Percentage'))
GenOccPercentage

# GenOccPercentage.reset_index()
# GenOccPercentage.columns = ['Occupation', 'Gender', 'Percentage']

       occupation gender  Percentage
0   administrator      F       46.94
1   administrator      M       53.06
2          artist      F       44.40
3          artist      M       55.60
4          doctor      M      100.00
5        educator      F       26.65
6        educator      M       73.35
7        engineer      F        5.28
8        engineer      M       94.72
9   entertainment      F       21.78
10  entertainment      M       78.22
11      executive      F        8.28
12      executive      M       91.72
13     healthcare      F       77.94
14     healthcare      M       22.06
15      homemaker      F       71.04
16      homemaker      M       28.96
17         lawyer      F       13.23
18         lawyer      M       86.77
19      librarian      F       52.49
20      librarian      M       47.51
21      marketing      F       38.94
22      marketing      M       61.06
23           none      F       62.90
24           none      M       37.10
25          other      F       29.99
26          other      M       70.01
27     programmer      F        8.58
28     programmer      M       91.42
29        retired      F       11.91
30        retired      M       88.09
31       salesman      F       32.21
32       salesman      M       67.79
33      scientist      F       12.73
34      scientist      M       87.27
35        student      F       31.41
36        student      M       68.59
37     technician      F        6.98
38     technician      M       93.02
39         writer      F       45.66
40         writer      M       54.34

## Question 2Euro Teams

- Import the necessary libraries
- Import the dataset from this address
- Assign it to a variable called euro12
- Select only the Goal column
- How many team participated in the Euro2012?
- What is the number of columns in the dataset?
- View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
- Sort the teams by Red Cards, then to Yellow Cards
- Calculate the mean Yellow Cards given per Team
- Filter teams that scored more than 6 goals
- Select the teams that start with G
- Select the first 7 columns
- Select all columns except the last 3
- Present only the Shooting Accuracy from England, Italy and Russia

In [68]:
# Import the necessary libraries
import numpy as np
import pandas as pd

# Import the dataset from this address
# Assign it to a variable called euro12
euro12 = pd.read_csv('euro.csv')
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [70]:
# Select only the Goal column
euro12['Goals']

0    4
1    4
2    4
3    5
4    3
Name: Goals, dtype: int64

In [72]:
# How many team participated in the Euro2012?
print(euro12['Team'].count())

16

In [75]:
# What is the number of columns in the dataset?
len(euro12.columns)

35

In [80]:
# View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [85]:
# Sort the teams by Red Cards, then to Yellow Cards
discipline.sort_values(by=['Red Cards', 'Yellow Cards'])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

In [95]:
# Calculate the mean Yellow Cards given per Team
yellowMean = discipline.groupby(['Team']).agg({'Yellow Cards': np.mean}).reset_index()
yellowMean.columns = ['Team', 'Mean Yellow Cards']
yellowMean

                   Team  Mean Yellow Cards
0               Croatia                9.0
1        Czech Republic                7.0
2               Denmark                4.0
3               England                5.0
4                France                6.0
5               Germany                4.0
6                Greece                9.0
7                 Italy               16.0
8           Netherlands                5.0
9                Poland                7.0
10             Portugal               12.0
11  Republic of Ireland                6.0
12               Russia                6.0
13                Spain               11.0
14               Sweden                7.0
15              Ukraine                5.0

In [97]:
# Filter teams that scored more than 6 goals
euro12[euro12['Goals'] > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [98]:
# Select the teams that start with G
euro12.loc[euro12['Team'].str.startswith('G', na=False)]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [100]:
# Select the first 7 columns
euro12.iloc[:, 0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [102]:
# Select all columns except the last 3
euro12.iloc[:, :-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [105]:
# Present only the Shooting Accuracy from England, Italy and Russia
columnIntrest = ['England', 'Italy', 'Russia']
euro12.loc[euro12['Team'].isin(columnIntrest), ['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

## Question 3
Housing
- Import the necessary libraries
- Create 3 differentsSeries, each of length 100, as follows:â€¢The first a random number from 1 to 4â€¢The second a random number from 1 to 3â€¢The third a random number from 10,000 to 30,000
- Create a DataFrame by joinning the Series by column
- Change the name of thecolumns to bedrs, bathrs, price_sqr_meter
- Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
- Ops it seems it is going only until index 99. Is it true?
- Reindex the DataFrameso it goes from 0 to 299

In [2]:
# Step 1. Import the necessary libraries
import numpy as np
import pandas as pd

# Step 2. Create 3 differentsSeries, each of length 100, as follows:â€¢The first a random number from 1 to 4â€¢The second a random number from 1
#  to 3â€¢The third a random number from 10,000 to 30,000
random1_4 = np.random.randint(1,4, size=100)
random1_3 = np.random.randint(1,3, size=100)
random10k_30k = np.random.randint(10000,30000, size=100)

In [16]:
# Step 3. Create a DataFrame by joinning the Series by column
seriesTable = pd.DataFrame({'1': random1_4, '2': random1_3, '3': random10k_30k})
seriesTable.head()

   1  2      3
0  2  2  17888
1  3  2  18466
2  2  2  25204
3  1  1  11572
4  1  1  12723

In [120]:
# Step 4. Change the name of thecolumns to bedrs, bathrs, price_sqr_meter
seriesTable.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
seriesTable.head()

   bedrs  bathrs  price_sqr_meter
0      3       1            21969
1      1       1            15825
2      2       1            15029
3      1       1            26886
4      1       1            29759

In [14]:
# Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
bigcolumnArray = np.append(np.append(random1_4,random1_3), random10k_30k)
# len(bigcolumnArray)
bigcolumn = pd.DataFrame({'bigColumn':bigcolumnArray})
bigcolumn

     bigColumn
0            2
1            3
2            2
3            1
4            1
..         ...
295      13075
296      19262
297      28023
298      20480
299      26115

[300 rows x 1 columns]

In [17]:
# Step 6. Ops it seems it is going only until index 99. Is it true?
seriesTable.shape[0]
print("It does go until 99, index:{}".format(seriesTable.shape[0]-1))

It does go until 99, index:99

In [160]:
# Step 7. Reindex the DataFrame so it goes from 0 to 299
seriesTable['indexApp'] = np.int_(np.linspace(0,299,100))
seriesTable.set_index('indexApp')

          bedrs  bathrs  price_sqr_meter  bigcolumn
indexApp
0             3       1            21969      21973
3             1       1            15825      15827
6             2       1            15029      15032
9             1       1            26886      26888
12            1       1            29759      29761
...         ...     ...              ...        ...
286           1       1            10554      10556
289           3       2            13189      13194
292           2       2            13928      13932
295           1       2            22233      22236
299           2       1            27498      27501

[100 rows x 4 columns]

## Question 4
Wind Statistics The data have been modified to contain some missing values, identified by NaN.Using pandas should make this exercise easier, in particular for the bonus question.  

You should be able to perform all of these operations without using a for loop or other looping construct.The data in 'wind.data' has the following format:  
  

- Import the necessary libraries
- Import the dataset from the attached file wind.txt
- Assign it to a variable called data and replace the first 3 columns by a proper datetime index.
- Year 2061? Do we really have data from this year? Create a function to fix it and apply it.
- Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].
- Compute how many values are missing for each location over the entire record.They should be ignored in all calculations below.
- Compute how many non-missing values there are in total.
- Calculate the mean windspeeds of the windspeeds over all the locations and all the times.A single number for the entire dataset.
- Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the daysA different set of numbers for each location.
- Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.A different set of numbers for each day.
- Find the average windspeed in January for each location.Treat January 1961 and January 1962 both as January.
- Downsample the record to a yearly frequency for each location.
- Downsample the record to a monthly frequency for each location.
- Downsample the record to a weekly frequency for each location.
- Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.


# Step 1. Import the necessary libraries
# Step 2. Import the dataset from the attached file wind.txt
# Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.
# Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.
# Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

# Step 6. Compute how many values are missing for each location over the entire record.They should be ignored in all calculations below.
# Step 7. Compute how many non-missing values there are in total.
# Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.A single number for the entire dataset.
# Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the daysA different set of numbers for each location.
# Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.A different set of numbers for each day.
# Step 11. Find the average windspeed in January for each location.Treat January 1961 and January 1962 both as January.
# Step 12. Downsample the record to a yearly frequency for each location.
# Step 13. Downsample the record to a monthly frequency for each location.
# Step 14. Downsample the record to a weekly frequency for each location.
# Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [22]:
# Step 1. Import the necessary libraries
# Step 2. Import the dataset from the attached file wind.txt
# Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

import numpy as np
import pandas as pd

data = pd.read_csv('wind.txt')
data["Date"] = pd.to_datetime(data[["Yr","Mo","Dy"]].astype(str).agg('-'.join, axis=1))
data = data.drop(columns=["Yr","Mo","Dy"])
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,2061-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,2061-01-02
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,2061-01-03
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,2061-01-04
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,2061-01-05

In [23]:
# Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.
data["Date"] = np.where(pd.DatetimeIndex(data["Date"]).year < 2000,data.Date,data.Date - pd.offsets.DateOffset(years=100))
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978-12-27
6570,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978-12-29
6572,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [31]:
# Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

wind = data.set_index("Date")
wind.index.astype("datetime64[ns]")

DatetimeIndex(['1961-01-01', '1961-01-02', '1961-01-03', '1961-01-04',
               '1961-01-05', '1961-01-06', '1961-01-07', '1961-01-08',
               '1961-01-09', '1961-01-10',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name='Date', length=6574, freq=None)

In [30]:
# Step 6. Compute how many values are missing for each location over the entire record.They should be ignored in all calculations below.
wind.isnull().sum().sum()

31

In [34]:
# Step 7. Compute how many non-missing values there are in total.
wind.count().sum()

78857

In [35]:
# Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.A single number for the entire dataset.
wind.mean().mean()

10.227982360836938

In [43]:
# Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at 
# each location over all the days.
# A different set of numbers for each location.

def stats(x):
    x = pd.Series(x)
    Min = x.min()
    Max = x.max()
    Mean = x.mean()
    Std = x.std()
    arr = ["Minimum","Maximum","Mean","Std"]
    res = [Min,Max,Mean,Std]
    res = pd.Series(res,index=arr)
    return res
loc_stats = wind.apply(stats)
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Minimum,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
Maximum,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000
Mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
Std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794

In [44]:
# Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds 
# across all the locations at each day.A different set of numbers for each day.
day_stats = wind.apply(stats,axis=1)
day_stats.head()

            Minimum  Maximum       Mean       Std
Date
1961-01-01     9.29    18.50  13.018182  2.808875
1961-01-02     6.50    17.54  11.336364  3.188994
1961-01-03     6.17    18.50  11.641818  3.681912
1961-01-04     1.79    11.75   6.619167  3.198126
1961-01-05     6.17    13.33  10.630000  2.445356

In [45]:
# Step 11. Find the average windspeed in January for each location.Treat January 1961 and January 1962 both as January.
jan = wind[wind.index.month == 1]
jan.mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

In [46]:
# Step 12. Downsample the record to a yearly frequency for each location.
wind.resample('A').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-12-31,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962-12-31,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963-12-31,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964-12-31,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965-12-31,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966-12-31,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967-12-31,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968-12-31,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969-12-31,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970-12-31,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971-12-31,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972-12-31,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973-12-31,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974-12-31,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975-12-31,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976-12-31,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977-12-31,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978-12-31,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

In [47]:
# Step 13. Downsample the record to a monthly frequency for each location.
wind.resample('M').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-31,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02-28,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03-31,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04-30,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05-31,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08-31,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194
1978-09-30,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333
1978-10-31,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000
1978-11-30,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000
1978-12-31,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613

In [48]:
# Step 14. Downsample the record to a weekly frequency for each location.
wind.resample('W').mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,
1961-01-01,15.040000,14.960000,13.170000,9.290000,NaN,9.870000,13.670000,10.250000,10.830000,12.580000,18.500000,15.040000
1961-01-08,13.541429,11.486667,10.487143,6.417143,9.474286,6.435714,11.061429,6.616667,8.434286,8.497143,12.481429,13.238571
1961-01-15,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286
1961-01-22,13.204286,9.862857,12.982857,6.328571,8.966667,7.417143,9.257143,7.875714,7.145714,8.124286,9.821429,11.434286
1961-01-29,19.880000,16.141429,18.225714,12.720000,17.432857,14.828571,15.528571,15.160000,14.480000,15.640000,20.930000,22.530000
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-03,14.934286,11.232857,13.941429,5.565714,10.215714,8.618571,9.642857,7.685714,9.011429,9.547143,11.835714,18.728571
1978-12-10,20.740000,19.190000,17.034286,9.777143,15.287143,12.774286,14.437143,12.488571,13.870000,14.082857,18.517143,23.061429
1978-12-17,16.758571,14.692857,14.987143,6.917143,11.397143,7.272857,10.208571,7.967143,9.168571,8.565714,11.102857,15.562857
1978-12-24,11.155714,8.008571,13.172857,4.004286,7.825714,6.290000,7.798571,8.667143,7.151429,8.072857,11.845714,18.977143
1978-12-31,14.951429,11.801429,16.035714,6.507143,9.660000,8.620000,13.708571,10.477143,10.868571,11.471429,12.947143,26.844286

In [ ]:
# Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week
#  (assume that the first week starts on January 2 1961) for the first 52 weeks.
newdata = wind.groupby(lambda d: (d.week, d.month))